.hidden {
  display: none !important;
}

.view-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 4rem;
  align-items: center;
  background: linear-gradient(rgb(35, 31, 32), white, black);
  position: relative;
}

.watch-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.assets-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.assets-list > div,
.watch-list > div {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .home-page-listing {
    width: 100%;
  }

  .assets-list > div {
    width: 50%;
  }

  .watch-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .assets-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .search-box {
    padding: 0.5rem 3rem;
  }

  .asset-modal > * {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .home-page-listing {
    max-width: 250px;
    width: 100%;
  }

  .assets-list > div,
  .watch-list > div {
    width: 33.3%;
  }

  .asset-modal > * {
    width: 600px;
  }
}

@media screen and (min-width: 1250px) {
  .home-page-listing {
    max-width: 250px;
    width: 100%;
  }

  .assets-list > div,
  .watch-list > div {
    width: 25%;
  }

  .asset-modal > * {
    width: 900px;
  }
}

@media screen and (min-width: 1700px) {
  .home-page-listing {
    max-width: 250px;
    width: 100%;
  }

  .assets-list > div,
  .watch-list > div {
    width: 20%;
  }

  .asset-modal > * {
    width: 900px;
  }
}
