.hidden {
  display: none !important;
}

.view-container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .home-page-listing {
    max-width: 250px;
    width: 100%;
  }

  .assets-list {
    display: flex;
    justify-content: space-between;

    /* flex-direction: column; */
    flex-wrap: wrap;
  }
}
