.splash {
  background-image: /images/splash.jpg;
  max-width: 100%;
  height: 100vh;
  position: relative;
}

.home-page-listing {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
  border: 0.1px solid rgb(165, 162, 163);
  box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.52);
  margin: 0.5rem 2rem;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
}

.watch-list-item {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
  border: 0.1px solid rgba(165, 162, 163, 0.243);
  box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.52);
  margin: 1rem 2rem;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  border-left: 0.1px solid rgb(128, 128, 128);
  border-radius: 2px;
}

.watch-list-item-logo {
  width: 4rem;
  background-color: rgba(128, 128, 128, 0.729);
  padding: 0.7rem;
}

/* .asset-logo {
  width: 2.5rem;
  background-color: rgba(128, 128, 128, 0.729);
  padding: 0.2rem;
} */

.asset-logo {
  width: 2rem;
  margin-left: 0.4rem;
}

.name {
  font-size: 0.9rem;
  white-space: nowrap;
  width: 3rem;
  margin-right: 1rem;
  margin-left: 0.2rem;
}

.price {
  font-size: 0.7rem;
  width: 20%;
  text-align: right;
  margin-right: 0.5rem;
}

.percent-change {
  font-size: 0.6rem;
  color: rgb(71, 214, 27);
  width: 20%;
  margin: 0 0.2rem;
}

.home-page-heart {
  margin-left: 1rem;
  cursor: pointer;
  width: 10%;
  margin-right: 0.3rem;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(35, 31, 32);
}

.app-logo {
  width: 100px;
}

.search-box {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(141, 141, 141, 0.878);
  margin: 0.75rem 1rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
}

.search-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.red {
  color: rgb(247, 12, 12);
}

input:focus::placeholder {
  color: transparent;
}

.fa-heart {
  cursor: pointer;
}

.cmc-rank {
  width: 3rem;
}
